.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
    margin-top: 40px;

  }
  
  .start-col {
    flex: 0 0 100px !important;
    white-space: unset !important;
  }
  
  .button-row {
    margin: 6px 0;
  }
  .appointment {
    display: flex;
    margin-top: 25px;
  }