<div class="button-row">
    <a mat-raised-button color="primary" [routerLink]="['/developer']"><mat-icon>list</mat-icon></a>
</div>
<form [formGroup]="meetForm" (ngSubmit)="onFormSubmit(meetForm.value)">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="enter date" formControlName="start">
    </mat-form-field>
<mat-form-field class="example-full-width">
    <input matInput placeholder="end" formControlName="end" value="60">
</mat-form-field>
<div class="button-row">
    <button type="submit" mat-raised-button color="primary">
        <mat-icon>save</mat-icon>
    </button>
</div>
</form>